---
import Layout from '../layouts/Layout.astro';
import Hero from '../components/Hero.astro';
import Thumbnail from '../components/Thumbnail.astro';
---
<Layout>
  <div class="wrap">
    <div class="thumbs">
      <button class="button" id="01">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/01.jpg"
          altText="Thumb 1"
        />
      </button>
      <button class="button" id="02">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/02.jpg"
          altText="Thumb 2"
        />
      </button>
      <button class="button" id="03">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/03.jpg"
          altText="Thumb 3"
        />
      </button>
      <button class="button" id="04">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/04.jpg"
          altText="Thumb 4"
        />
      </button>
      <button class="button" id="05">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/05.jpg"
          altText="Thumb 5"
        />
      </button>
      <button class="button" id="06">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/06.jpg"
          altText="Thumb 6"
        />
      </button>
      <button class="button" id="07">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/07.jpg"
          altText="Thumb 7"
        />
      </button>
      <button class="button" id="08">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/08.jpg"
          altText="Thumb 8"
        />
      </button>
      <button class="button" id="09">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/09.jpg"
          altText="Thumb 9"
        />
      </button>
      <button class="button" id="10">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/10.jpg"
          altText="Thumb 10"
        />
      </button>
      <button class="button" id="11">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/11.jpg"
          altText="Thumb 11"
        />
      </button>
      <button class="button" id="12">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/12.jpg"
          altText="Thumb 12"
        />
      </button>
      <button class="button" id="13">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/13.jpg"
          altText="Thumb 13"
        />
      </button>
      <button class="button" id="14">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/14.jpg"
          altText="Thumb 14"
        />
      </button>
      <button class="button" id="15">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/15.jpg"
          altText="Thumb 15"
        />
      </button>
      <button class="button" id="16">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/16.jpg"
          altText="Thumb 16"
        />
      </button>
      <button class="button" id="17">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/17.jpg"
          altText="Thumb 17"
        />
      </button>
      <button class="button" id="18">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/18.jpg"
          altText="Thumb 18"
        />
      </button>
      <button class="button" id="19">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/19.jpg"
          altText="Thumb 19"
        />
      </button>
      <button class="button" id="20">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/20.jpg"
          altText="Thumb 20"
        />
      </button>
      <button class="button" id="21">
        <Thumbnail
          imagePath="/src/assets/illustration/thumbs/21.jpg"
          altText="Thumb 21"
        />
      </button>
    </div>
    <div>
      <Hero
        imagePath="/src/assets/illustration/heros/01.jpg"
        altText="Hero"
      />
    </div>
  </div>
</Layout>

<script>
  import { updateHeroImage } from '../utils/heroImage.js';

  document.querySelectorAll('.button').forEach(button => {
    button.addEventListener('click', event => {
      const buttonId = event.currentTarget.id;
      const newImagePath = `/src/assets/illustration/heros/${buttonId}.jpg`;
      updateHeroImage(newImagePath);
    });
  });
</script>

<style>
  .wrap {
    display: flex;
    width: 100%;
    height: 615px;
    gap: 6px;
  }
  .thumbs {
    display: grid;
    overflow: scroll;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    gap: 6px;
  }
  .button {
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
  }
  .button img {
    display: block;
  }
  #hero {
    width: 100%;
    object-fit: cover; /* Ensures the image covers the container while maintaining aspect ratio */
  }
</style>