---
import Layout from '../layouts/Layout.astro';
import Navigation from '../components/Navigation.astro';
import Thumbnails from '../components/Thumbnails.astro';
import Hero from '../components/Hero.astro';
---

<Layout
  title="Mark S. Fisher" 
  description="View the work of Mark S. Fisher" 
  image="/msf/img/custom-social-image.png"
>
	<Navigation style="grid-column: 1 / -1;" />
	<div class="content-row">
		<Thumbnails />
		<Hero />
	</div>
</Layout>

<style>
	.content-row {
		display: grid;
		grid-template-columns: 100px minmax(0, 1fr);
		align-items: stretch;
		width: 100%;
		aspect-ratio: 1036 / 621;
		/* max-height: calc(100vh - 11rem); */
		overflow: hidden;
	}

	.content-row > * {
		height: 100%;
		min-height: 0;
	}

	@media (max-width: 500px) {
		.content-row {
			grid-template-columns: 1fr;
			aspect-ratio: auto;
			max-height: none;
		}
	}
</style>
