---
import Layout from '../layouts/Layout.astro';
import jupiter from  "../assets/jupiterjak/jupiter.png";
---

<Layout>
  <div class="bg">
    <div class="image"></div>
  </div>
</Layout>

<style>
  .bg {
    display: flex;
    justify-content: center;
    width: 100%;
    background: #231f20 url('../assets/jupiterjak/stars.png');
  }
  .image {
    background-image: url('../assets/jupiterjak/jupiter.png');
    background-repeat: no-repeat;
    width: 100%;
    height: 100%;
    background-position: center;
    background-size: contain;
    max-width: 800px;
  }
</style>