---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

interface Props {
  imagePath: string;
  altText: string;
}

const { imagePath, altText } = Astro.props;
const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/illustration/heros/*.{jpeg,jpg,png,gif}');
if (!images[imagePath]) throw new Error(`"${imagePath}" does not exist in glob: "src/assets/illustration/heros/*.{jpeg,jpg,png,gif}"`);
---
<div class="hero">
  <Image src={images[imagePath]()} alt={altText} id="hero-image" />
</div>