---
---

<nav>
  <a href="/illustration" title="link">illustration</a>
  <a href="/jupiterjak" title="link">Jupiter Jak</a>
</nav>

<style>
  nav {
    display: flex;
    gap: 1rem;
  }
  a {
		color: #fff !important;
	}

</style>